{% extends 'base.html' %}

{% block title %}Contact Me{% endblock %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-body">
        {% if message %}
            <div class="alert alert-success">{{ message }}</div>
        {% endif %}
        {% if errors %}
            <div class="alert alert-danger">Please correct the errors below:</div>
        {% endif %}
        <form action="{% url 'contact:contact' %}" method="POST" class="form form-horizontal">
            {% csrf_token %}
            <div class="form-group	">
                <label for="{{ contact_form.name.id_for_label }}" class="control-label col-md-1">Name</label>
                <div class="col-md-10">
                    {{ contact_form.name }}
                </div>
            </div>
            <div class="form-group">
                 <label for="{{ contact_form.email.id_for_label }}" class="control-label col-md-1">Email</label>
                <div class="col-md-10">
                    {{ contact_form.email }}
                </div>
            </div>
            <div class="form-group">
                 <label for="{{ contact_form.subject.id_for_label }}" class="control-label col-md-1">Subject</label>
                <div class="col-md-10">
                    {{ contact_form.subject }}
                </div>
            </div>
            <div class="form-group">
                <label for="{{ contact_form.message.id_for_label }}" class="control-label col-md-1">Message</label>
                <div class="col-md-10">
                    {{ contact_form.message }}
                    <!--<textarea name="message" id="message" class="form-control" placeholder="Your message">{{ contact_content }}</textarea>-->
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary center-block">Send Message</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}