{% extends 'base.html' %}

{% block title %}Contact Me{% endblock %}

{% block body %}
<h1>Contact Me</h1>
<div class="panel panel-default">
    <div class="panel-body">
        {% if message %}
            <div class="alert alert-success">{{ message }}</div>
        {% endif %}
        {% if errors %}
            <div class="alert alert-danger">Please correct the errors below:</div>
        {% endif %}
        <form action="{% url 'contact:contact' %}" method="POST" class="form form-horizontal">
            {% csrf_token %}
            {% for field in contact_form %}
                <div class="form-group	">
                    {{ field.errors }}
                    <label for="{{ field.id_for_label }}" class="control-label col-md-1">{{ field.label }}</label>
                    <div class="col-md-10">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}

            <div class="form-group">
                <button type="submit" class="btn btn-primary center-block">Send Message</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}